DISPLAY=:0
PATH=/home/koral/.nix-profile/bin:/home/koral/.nix-profile/sbin:/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin/:/usr/local/sbin:/usr/lib/ccache/bin/:/usr/lib/colorgcc/bin:/home/koral/.cabal/bin:/usr/bin/core_perl

*/7  * * * * mbsync -a
@hourly      /bin/pacman -Qe > ${HOME}/.config/packages && /bin/pacman -Qm >> ${HOME}/.config/packages
@daily       cd ${HOME}/.config && (hg push; hg push bb) && /usr/bin/notify-send "Configuration pushed to twyk.org & bitbucket"
@daily       cd ${HOME}/server/dotfiles && hg pull -u ssh://twyk.org/~/.config && /usr/bin/notify-send "Homeserver configuration pulled"
@daily       /bin/scp ${HOME}/papers/resume/two-colomns/resume.pdf homeserver:/home/koral/public/
@daily       /bin/mv -u ${HOME}/Desktop/* ${HOME} && rm -r ${HOME}/Desktop
@daily       /bin/mv -u ${HOME}/Downloads/* ${HOME} && rm -r ${HOME}/Downloads
@daily       /bin/chmod -R go-rwx ${HOME}/mail ${HOME}/papers ${HOME}/server ${HOME}/.gnupg
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/mail    homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/prog    homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/.config homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/music   homeserver:/mnt/1/shared/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/doc     homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/images  homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/papers  homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/reading homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/sound   homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/studies homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/tmp     homeserver:/mnt/2/mystik/
