DISPLAY=:0

*/7  * * * * /usr/bin/mbsync -a
*/11 * * * * xset q &> /dev/null && cd ${HOME}/images/wallpapers && /usr/bin/hsetroot -fill "`/bin/ls | /usr/bin/shuf -n 1`"
@hourly      /bin/pacman -Qe > ${HOME}/.config/packages
@daily       cd ${HOME}/.config && [ -z "`/usr/bin/hg diff --stat`" ] || /usr/bin/notify-send "Uncommitted configuration updates"
@daily       cd ${HOME}/.config && (hg push; hg push bb) && /usr/bin/notify-send "Configuration pushed to twyk.org & bitbucket"
@daily       cd ${HOME}/server/dotfiles && hg pull -u ssh://twyk.org/~/.config && /usr/bin/notify-send "Homeserver configuration pulled"
@daily       /bin/chmod 600 ${HOME}/.config/msmtp/*
@daily       /bin/detox -r ${HOME}/music
@daily       /bin/scp ${HOME}/papers/resume/two-columns/resume.pdf homeserver:/home/koral/public/
@daily       /bin/mv -u ${HOME}/Desktop/* ${HOME} && rm -r ${HOME}/Desktop
@daily       /bin/mv -u ${HOME}/Downloads/* ${HOME} && rm -r ${HOME}/Downloads
@daily       /bin/chmod -R go-rwx ${HOME}/mail ${HOME}/papers ${HOME}/server ${HOME}/.gnupg
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/mail    homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/prog    homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/.config homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/music   homeserver:/mnt/1/shared/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/doc     homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/images  homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/papers  homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/reading homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/sound   homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/studies homeserver:/mnt/2/mystik/
@weekly      rsync -rvzh --chmod=go-rwx --del --force ${HOME}/tmp     homeserver:/mnt/2/mystik/
