[Unit]
Description=Composite manager
Requires=xorg.service
After=xorg.service

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/compton
Restart=always
RestartSec=30

[Install]
WantedBy=wm.target
