[Unit]
Description=Daily backup

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/systemd/user/environment
ExecStart=-/run/current-system/sw/bin/git -C %h/.config push
ExecStart=-/home/koral/.config/systemd/user/borg-wrapper create -x -C lzma "koral@45.32.237.83:backup::{utcnow}-{hostname}-{user}" %h/doc %h/feeds %h/images %h/papers %h/prog/archive %h/studies %h/.config %h/.mozilla
ExecStart=-/home/koral/.config/systemd/user/borg-wrapper prune -d 30 "koral@45.32.237.83:backup"
# ExecStart=-/run/current-system/sw/bin/rsync -rvh --chmod=o-w    --del --force %h/music/   homeserver:/home/music/
#ExecStart=-/run/current-system/sw/bin/rsync -rvh --chmod=go-rwx --del --force %h/tmp      homeserver:/home/koral/mystik/
#ExecStart=-/run/current-system/sw/bin/scp %h/papers/resume/two-colomns/resume.pdf homeserver:/home/http/public/
