[Unit]
Description=Notification daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/home/koral/.nix-profile/bin/dunst
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target
