[Unit]
Description=Notification daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/run/current-system/sw/bin/dunst
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target
