[Unit]
Description=Random wallpaper with feh
Requisite=xorg.service
#After=xorg.service

[Timer]
OnBootSec=1m
OnUnitActiveSec=11m

[Install]
WantedBy=timers.target
