[Unit]
Description=Random wallpaper with feh

[Service]
Type=simple
EnvironmentFile=-/home/koral/.config/systemd/user/environment
ExecStart=/home/koral/.nix-profile/bin/feh --randomize --recursive --bg-fill %h/images/wallpapers
