[Unit]
Description=Synchronize IMAP mails

[Service]
Type=oneshot
EnvironmentFile=-/home/koral/.config/systemd/user/environment
ExecStart=-/bin/mbsync -a
