[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd --no-daemon %h/.config/mpd/mpd.conf
ExecStop=/usr/bin/mpd --kill

PIDFile=%h/.config/mpd/pid
Restart=always
RestartSec=30

[Install]
WantedBy = default.target
