[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/run/current-system/sw/bin/mpd --no-daemon %h/.config/mpd/mpd.conf
ExecStop=/run/current-system/sw/bin/mpd --kill

PIDFile=%h/.config/mpd/pid
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
