[Unit]
Description=numlock

[Service]
EnvironmentFile=-/home/koral/.config/systemd/user/environment
Type=oneshot
ExecStart=/run/current-system/sw/bin/numlockx on
ExecStop=/run/current-system/sw/bin/numlockx off
SuccessExitStatus=203

[Install]
WantedBy=default.target
