[Unit]
Description=numlock

[Service]
EnvironmentFile=-/home/koral/.config/systemd/user/environment
Type=oneshot
ExecStart=/home/koral/.nix-profile/bin/numlockx on
ExecStop=/home/koral/.nix-profile/bin/numlockx off
SuccessExitStatus=203

[Install]
WantedBy=default.target
