[Unit]
Description=rxvt-unicode daemon

[Service]
Type=forking
ExecStartPre=/usr/bin/xrdb -merge %h/.config/x/Xresources
ExecStart=/usr/bin/urxvtd -q -f -o
Restart=always

[Install]
WantedBy=wm.target
