[Unit]
Description=XMonad service

[Service]
ExecStartPre=/usr/bin/xrdb -merge %h/.config/x/Xresources
ExecStartPre=/usr/bin/xsetroot -cursor_name left_ptr
ExecStartPre=/usr/bin/xsetroot -solid black
ExecStartPre=/usr/bin/xset b off
ExecStartPre=/usr/bin/setxkbmap -option ctrl:nocaps
ExecStartPre=/usr/bin/setxkbmap fr

EnvironmentFile=-/home/koral/.config/systemd/user/environment

ExecStart=/home/koral/.cabal/bin/xmonad

Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
