[Unit]
Description=System Monitor for X
#Requisite=display-manager.service
#After=xorg.service

[Service]
EnvironmentFile=-/home/koral/.config/systemd/user/environment
ExecStart=/run/current-system/sw/bin/xmobar
Restart=always
RestartSec=19

[Install]
WantedBy=default.target
