"*":
  "autocomplete-haskell":
    defaultHintPanelVisibility: "Hidden"
    hideHintPanelIfEmpty: true
  "autocomplete-plus":
    enableAutoActivation: false
  autosave: {}
  "command-palette":
    preserveLastSearch: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "spell-check"
      "package-generator"
      "wrap-guide"
      "autoflow"
      "deprecation-cop"
      "autosave"
      "language-go"
      "language-gfm"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-ruby-on-rails"
      "language-ruby"
      "language-sass"
      "language-toml"
      "github"
      "background-tips"
      "open-on-github"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 1.1
    showLineNumbers: false
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "b1ea1bc2-2fdc-4ec8-98df-026a0917b8b7"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "haskell-ghc-mod":
    highlightTooltips: false
    stackSandbox: false
    useLinter: true
  "highlight-line":
    hideHighlightOnSelect: true
  "ide-haskell":
    autoHideOutput: true
    messageDisplayFrontend: "linter"
    onSavePrettify: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 300
    panelRepresents: "Entire Project"
    showProviderName: true
    statusBarClickBehavior: "Jump to next issue"
  "markdown-preview": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
